container_commands:
  01_apply_migration:
    command: "source /var/app/venv/*/bin/activate && flask db upgrade || true"
    leader_only: true
  02_events_migration:
    command: "source /var/app/venv/*/bin/activate && python run_events_migration.py || true"
    leader_only: true
  03_slug_redirects_migration:
    command: "source /var/app/venv/*/bin/activate && python create_article_slug_redirects_migration.py || true"
    leader_only: true
